/*---------------------FOOTER----------------------------------*/

.footer{
  background-image: url('.././img/footer2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  padding-top: 85px;
  padding-bottom: 20px;
  bottom: 0;
  
}

.footer-list{
  list-style-type: none;
  text-decoration: none;
  padding-left: 0;
  line-height: 35px;
}

.footer-list > li > a{
  text-decoration: none;
  color: white;
  position: relative;
  /* display: block;*/
   padding-bottom:5px;
}


.footer-list > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left:-10%;
  background-color: #21609B;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
}

.footer-list > li > a:hover {
  cursor: pointer;
}

.footer-list > li > a:hover:before {
  cursor: pointer;
  visibility: visible;
  width: 120%;
}