
.sidenav{
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidenav > a{
  text-decoration: none;
}

.sidenav > a > p {
  display: block;
  margin: 0;
  text-decoration: none;
  color:black;
  font-size: 24px;
  padding: 10px !important;  
}

.sidenav > a > p:hover {
  cursor: pointer;
  text-decoration: none;
  color:white;
  font-size: 24px;
  padding: 10px !important;
  background-color: darkgray;
}

.dropdown-container{
  display: none;
}

.dropdown-container > ul{
  padding-left:20px;
}

.dropdown-container > ul > li{
  position: relative;
  display: block;
  background-color:white;
  padding:5px;
  border-radius:10px;
}

.dropdown-container > ul > li:before {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  bottom: 0;
  left: -5px;
  background-color: #21609B;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.dropdown-container > ul > li:hover {
  cursor: pointer;
}

.dropdown-container > ul > li:hover:before {
  cursor: pointer;
  visibility: visible;
  width: 70%;
}

.content{
  width:100%;
  height:100%;
  border-radius: 20px;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(202, 202, 202);
  display: none;
  font-size: 1.2rem;
}

.content > div > div > p {
  margin-bottom: 0.4rem;
}

/*------------------------------------------------------*/
.html_code{
  margin: 0.5rem 0rem;
  width:100%;
  background-color: #292929;
  box-shadow: 0 1px 1px rgb(22, 22, 22);
  padding: 0.8rem 1rem;
  color:rgb(201, 201, 201);
  font-size: 1rem;
  border-radius: 20px;
}
.html_code > p{
  margin:0;
}

.first {
  width:100%;
  min-height:400px;
  background-color: #292929;
  overflow-y: auto;
  box-shadow: 0 1px 1px rgb(22, 22, 22);
  padding: 0.5rem 1rem;
  color:rgb(201, 201, 201);
  word-wrap: break-word;
  tab-size: 4;
  font-size: 0.9rem;
  border-radius: 20px;
  resize: none;
}

.second {
  width:100%;
  min-height: 230px;
  overflow: hidden;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
  white-space: pre;
  padding: 0.3rem 1rem;
  box-shadow: 0 1px 1px rgb(22, 22, 22);
  border-radius: 20px;
}
 
