
.question{
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  margin:5px;
  background: rgb(197, 197, 197);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding:0px 20px 10px 20px;
  border: 5px solid #507ea8;
  -webkit-box-shadow: 5px 13px 16px 5px #999999; 
  box-shadow: 5px 13px 16px 5px #999999;
}

.start-message{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}